<a href="https://colab.research.google.com/github/shivi0901/shivi0901/blob/main/spam_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**import library **

In [ ]:
from google.colab import drive
drive.mount("/content/drive/")

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np
# read csv file
df=pd.read_csv("/content/drive/MyDrive/hello/spam.csv",encoding="ISO-8859-1")

In [ ]:
df

        v1  ... Unnamed: 4
0     ham   ...  NaN
1     ham   ...  NaN
2     spam  ...  NaN
3     ham   ...  NaN
4     ham   ...  NaN
...   ...   ...  ...
5567  spam  ...  NaN
5568  ham   ...  NaN
5569  ham   ...  NaN
5570  ham   ...  NaN
5571  ham   ...  NaN

[5572 rows x 5 columns]

In [ ]:
#expanding the dispay of text sms column
pd.set_option('display.max_colwidth', -1)
#using only v1 and v2 column
df= df [['v1','v2']]
df.head(78)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: Passing a negative integer is deprecated in version 1.0 and will not be supported in future version. Instead, use None to not limit the column width.

      v1                                                                                                                                                           v2
0   ham   Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat...
1   ham   Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's
3   ham   U dun say so early hor... U c already then say...
4   ham   Nah I don't think he goes to usf, he lives around here though
..  ...                                                             ...
73  ham   K..k:)where are you?how did you performed?
74  ham   U can call me now...
75  ham   I am waiting machan. Call me once you free.
76  ham   Thats cool. i am a gentleman and will treat you with dignity and respect.
77  ham   I like you peoples very much:) but am very shy pa.

[78 rows x 2 columns]

In [ ]:
#checking the count of the dependent variable
df['v1'].value_counts()

ham     4825
spam    747
Name: v1, dtype: int64

**Steps to clean the data
Punctuation Removal: 
In this step, all the punctuations from the text are removed. string library of Python contains some pre-defined list of punctuations such as ‘!”#$%&'()*+,-./:;?@[\]^_`{|}~’**

In [ ]:
#library that contains punctuation
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [ ]:
#defining the function to remove punctuation
def remove_punctuation(text):
    punctuationfree="".join([i for i in text if i not in string.punctuation])
    return punctuationfree
#storing the puntuation free text
df['clean_msg']= df['v2'].apply(lambda x:remove_punctuation(x))
df.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

     v1  ...                                                                                                                                              clean_msg
0  ham   ...  Go until jurong point crazy Available only in bugis n great world la e buffet Cine there got amore wat
1  ham   ...  Ok lar Joking wif u oni
2  spam  ...  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive entry questionstd txt rateTCs apply 08452810075over18s
3  ham   ...  U dun say so early hor U c already then say
4  ham   ...  Nah I dont think he goes to usf he lives around here though

[5 rows x 3 columns]

**Lowering the text: **

In [ ]:
df['msg_lower']= df['clean_msg'].apply(lambda x: x.lower())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [ ]:
df

        v1  ...                                                                                                                                                  msg_lower
0     ham   ...  go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat
1     ham   ...  ok lar joking wif u oni
2     spam  ...  free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005 text fa to 87121 to receive entry questionstd txt ratetcs apply 08452810075over18s
3     ham   ...  u dun say so early hor u c already then say
4     ham   ...  nah i dont think he goes to usf he lives around here though
...   ...   ...                                                          ...
5567  spam  ...  this is the 2nd time we have tried 2 contact u u have won the å£750 pound prize 2 claim is easy call 087187272008 now1 only 10p per minute btnationalrate
5568  ham   ...  will ì b going to esplanade fr home
5569  ham   ...  pity  was in mood for that soany other suggestions
5570  ham   ...  the guy did some bitching but i acted like id be interested in buying something else next week and he gave it to us for free
5571  ham   ...  rofl its true to its name

[5572 rows x 4 columns]

**tokenization**

In [ ]:
#defining function for tokenization
import re
def tokenization(text):
    tokens = re.split('W+',text)
    return tokens
#applying function to the column
df['msg_tokenied']= df['msg_lower'].apply(lambda x: tokenization(x))

**Stop word removal: **

In [ ]:
#importing nlp library
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:

#Stop words present in the library
stopwords = nltk.corpus.stopwords.words('english')
stopwords[0:10]
['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [ ]:
#defining the function to remove stopwords from tokenized text
def remove_stopwords(text):
    output= [i for i in text if i not in stopwords]
    return output

In [ ]:
#applying the function
df['no_stopwords']= df['msg_tokenied'].apply(lambda x:remove_stopwords(x))

In [ ]:
df

        v1  ...                                                                                                                                                 no_stopwords
0     ham   ...  [go until jurong point crazy available only in bugis n great world la e buffet cine there got amore wat]
1     ham   ...  [ok lar joking wif u oni]
2     spam  ...  [free entry in 2 a wkly comp to win fa cup final tkts 21st may 2005 text fa to 87121 to receive entry questionstd txt ratetcs apply 08452810075over18s]
3     ham   ...  [u dun say so early hor u c already then say]
4     ham   ...  [nah i dont think he goes to usf he lives around here though]
...   ...   ...                                                            ...
5567  spam  ...  [this is the 2nd time we have tried 2 contact u u have won the å£750 pound prize 2 claim is easy call 087187272008 now1 only 10p per minute btnationalrate]
5568  ham   ...  [will ì b going to esplanade fr home]
5569  ham   ...  [pity  was in mood for that soany other suggestions]
5570  ham   ...  [the guy did some bitching but i acted like id be interested in buying something else next week and he gave it to us for free]
5571  ham   ...  [rofl its true to its name]

[5572 rows x 6 columns]



**Stemming: **

In [ ]:
#importing the Stemming function from nltk library
from nltk.stem.porter import PorterStemmer
#defining the object for stemming
porter_stemmer = PorterStemmer()

In [ ]:
#defining a function for stemming
def stemming(text):
  stem_text = [porter_stemmer.stem(word) for word in text]
  return stem_text
df['msg_stemmed']=df[''].apply(lambda x: stemming(x))

KeyError: ignored

**Lemmatization: **

In [ ]:
from nltk.stem import WordNetLemmatizer
nltk.download('wordnet')
#defining the object for Lemmatization
wordnet_lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

In [ ]:
#defining the function for lemmatization
def lemmatizer(text):
 lemm_text = [wordnet_lemmatizer.lemmatize(word) for word in text]
 return lemm_text
df['msg_lemmatized']=df['no_stopwords'].apply(lambda x:lemmatizer(x))